
extends layout

	
block content
	script(src='/javascripts/index_controller.js')
	.container-fluid
		.row-fluid
			.span12
				h1= title
				p Create <strike>beautiful</strike> invoices. 

				button#viewPDF View PDF
				button#downloadPDF Download PDF

		.row-fluid
			.span8
				.invoice.invoice-padded
					include invoice/invoice
