
extends layout

	
block content
	script(src='/javascripts/index_controller.js')

	.container-fluid
		#menu
			button#downloadPDF Download PDF
			// button#viewPDF View PDF

		h1 invoise - free invoice generator.
		p Create template based invoices online and download them as PDF.

				
				

					


		.row-fluid
			.span8
				.invoice.invoice-padded
					include invoice/invoice
