doctype 5
html
	head
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.no-responsive.no-icons.min.css')
		link(rel='stylesheet', href='/stylesheets/invoice.css')
	body
		h1 FAKTURA

		table.table
			thead
				th Description
				th Price
			tr
				td Beskrivning
				td 1000 SEK
