doctype 5
html(ng-app)
	head
		meta(name="description", content="Create beautiful invoices free.")

		title invoise - #{locale.tagLine}
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')

		script(src='/javascripts/jQuery.Autosize.Input/jquery.autosize.input.js')
		script(src='/javascripts/accounting.min.js')
		script(src='/javascripts/tracker.js')

		
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Berkshire+Swash')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gudea')
		link(rel='stylesheet', href='/stylesheets/style.css')

		
	body
		block content
