
script(src='/javascripts/invoice_controller.js')

h1 Invoice

div(ng-controller="InvoiceController")

	div
		label From:
		textarea(ng-model="from")

	div 
		label To
		textarea(ng-model="to")

	div
		span Invoice ID: 
		input(type="text", ng-model="invoiceID")
	div
		span Date:
		span {{date}}
	div
		span Due Date:
		span {{dueDate}}


	table.table
		thead
			th Description
			th Price
		tr(ng-repeat="item in items")
			td {{item.description}}
			td {{currencySymbol}}{{item.price}} 
			td
				button(ng-click="removeItem($index)") remove

		form(ng-submit="addItem()")
			tr 
				td 
					input(type="text", ng-model="description", placeholder="description")
				td 
					input(type="text", ng-model="price", placeholder="price")
				td 
					input(type="submit", value="add")


		tr
			td Subtotal
			td {{currencySymbol}}{{subtotalPrice}}
		tr
			td VAT {{vatPercentage}}%
			td {{currencySymbol}}{{vatAmount}}
		tr
			td Total
			td {{currencySymbol}}{{totalPrice}}

