


// If static invoice is given, place it globally here.
// It will later be readed be the invoice_controller
if static
	script(type='text/javascript')
		var globalStaticInvoice = !{staticInvoice};

script(src='/javascripts/invoice_controller.js')

div(ng-controller="InvoiceController")
	.a4
		.invoice

			input#company-name(type="text", ng-model="invoice.companyName")
			input#invoice(type="text", ng-model="invoice.invoiceText")

			div.from
				input#from-header(type="text", ng-model="invoice.fromLabel") 
				<br/>
				textarea(ng-model="invoice.from")

			div.to
				input#to-header(type="text", ng-model="invoice.toLabel")
				<br/>
				textarea(ng-model="invoice.to")
				


			div#invoice-info
				table
					tr
						td.label
							input(type="text", ng-model="invoice.idLabel")
						td.value
							input(type="text", ng-model="invoice.id")
					tr
						td.label
							input(type="text", ng-model="invoice.dateLabel")
						td.value
							input(type="text", ng-model="invoice.date") 
					tr
						td.label
							input(type="text", ng-model="invoice.dueDateLabel")
						td.value
							input(type="text", ng-model="invoice.dueDate")

			table.table#item-table
				thead

						th.quantity
							input.quantity(type="text", ng-model="invoice.itemQuantityLabel")
						th.description
							input.description(type="text", ng-model="invoice.itemDescriptionLabel")
						th.unitPrice
							input.unitPrice(type="text", ng-model="invoice.itemUnitPriceLabel")
						th.totalPrice
							input.totalPrice(type="text", ng-model="invoice.itemTotalLabel")


				tbody

					// Loop
					tr.item(ng-repeat="item in invoice.items", data-ng-animate="'custom'")

						// Existing items

						td.quantity
							div
								input(type="text", ng-model="item.quantity")
						td.description
							div
								input(type="text", ng-model="item.description")
						td.unitPrice
							div
								input(type="text", ng-model="item.unitPrice")
						td.totalPrice
							div
								input(type="text", ng-model="item.totalPrice")
						if !static
							td.edit
								div
									button(ng-click="removeItem($index)") #{locale.remove}

					// Add new items
					if !static
						form(ng-submit="addItem()")
							tr.item#new-item
								td.quantity
									div 
										input.new-item(type="text", ng-model="newItem.quantity")
								td.description
									div 
										input.new-item(type="text", ng-model="newItem.description")
								td.unitPrice
									div
										input.new-item(type="text", ng-model="newItem.unitPrice")
								td.totalPrice
									div
										input.new-item(type="text", ng-model="newItem.totalPrice")
								td.edit
									div
										button(ng-click="") #{locale.add}

					//tr.blank
					//	td(colspan="3") 

					tr.subtotal
						td
						td
						td.description
							input(type="text", ng-model="invoice.subtotalLabel")
						td.price 
							label {{invoice.subtotalPrice}}

					tr.vat
						td
						td
						td.description
							input(type="text", ng-model="invoice.vatLabel")
						//VAT {{invoice.vatPercentage * 100}}%
						td.price 
							label {{invoice.vatAmount}}
					tr.total
						td
						td
						td.description
							input(type="text", ng-model="invoice.totalLabel")
						td.price 
							label {{invoice.totalPrice}}

			textarea#message(ng-model="invoice.message")

			#footer
				hr
				table#footer-table
					tr
						td.footer
							textarea(ng-model="invoice.from")
							
						td.footer
							textarea(ng-model="invoice.footerColumn0", placeholder="footer 1")
						td.footer
							textarea(ng-model="invoice.footerColumn1", placeholder="footer 2")
						td.footer
							textarea(ng-model="invoice.footerColumn2", placeholder="footer 3")


