
script(src='/javascripts/invoice_controller.js')

h1 Invoice

// If static invoice is given, place it globally here.
// It will later be readed be the invoice_controller
if static
	script(type='text/javascript')
		var globalStaticInvoice = !{invoice};

div(ng-controller="InvoiceController")

	div
		label From:
		textarea(ng-model="invoice.from")

	div 
		label To
		textarea(ng-model="invoice.to")

	div
		span Invoice ID: 
		input(type="text", ng-model="invoice.id")
	div
		span Date:
		span {{invoice.date}}
	div
		span Due Date:
		span {{invoice.dueDate}}


	table.table
		thead
			th Description
			th Price
		tr(ng-repeat="item in invoice.items")
			td {{item.description}}
			td {{currencySymbol}}{{item.price}} 
			td
				button(ng-click="removeItem($index)") remove

		form(ng-submit="addItem()")
			tr 
				td 
					input(type="text", ng-model="newItem.description", placeholder="description")
				td 
					input(type="text", ng-model="newItem.price", placeholder="price")
				td 
					input(type="submit", value="add")


		tr
			td Subtotal
			td {{invoice.currencySymbol}}{{invoice.subtotalPrice}}
		tr
			td VAT {{vatPercentage}}%
			td {{invoice.currencySymbol}}{{invoice.vatAmount}}
		tr
			td Total
			td {{invoice.currencySymbol}}{{invoice.totalPrice}}

