
script(src='/javascripts/invoice_controller.js')


// If static invoice is given, place it globally here.
// It will later be readed be the invoice_controller
if static
	script(type='text/javascript')
		var globalStaticInvoice = !{invoice};

div(ng-controller="InvoiceController")

	input#company-name(type="text", ng-model="invoice.companyName")
	input#invoice(type="text", ng-model="invoice.invoiceText")

	div.from
		label#from-header From<br/>
		textarea(ng-model="invoice.from")

	div.to
		label#to-header To<br/>
		textarea(ng-model="invoice.to")

	div#invoice-info
		span Invoice ID: 
		input(type="text", ng-model="invoice.id") 
		<br/>
		span Date:
		input(type="text", ng-model="invoice.date") 
		<br/>
		span Due Date:
		input(type="text", ng-model="invoice.dueDate")


	table.table
		thead
			th.description Description
			th.price Price
		tr.item(ng-repeat="item in invoice.items")
			td.description {{item.description}}
			td.price {{invoice.currencySymbol}}{{item.price}} 
			if !static
				td
					button(ng-click="removeItem($index)") remove

		if !static
			form(ng-submit="addItem()")
				tr 
					td 
						input.new-item(type="text", ng-model="newItem.description", placeholder="description")
					td 
						input.new-item(type="text", ng-model="newItem.price", placeholder="price")
					td 
						input(type="submit", value="add")


		tr
			td.description Subtotal
			td.price  {{invoice.currencySymbol}}{{invoice.subtotalPrice}}
		tr
			td.description VAT {{invoice.vatPercentage * 100}}%
			td.price  {{invoice.currencySymbol}}{{invoice.vatAmount}}
		tr
			td.description Total
			td.price {{invoice.currencySymbol}}{{invoice.totalPrice}}

