doctype 5
html
	head
		//link(rel='stylesheet', href='//cdn.jsdelivr.net/foundation/4.2.2/css/foundation.min.css')
		//link(rel='stylesheet', href='//cdn.jsdelivr.net/99lime/0.94/css/kickstart.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/invoice.css')
	body
		.invoice
			include invoice