doctype 5
html(ng-app)
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
		//script(src='/javascripts/jquery_autogrow_input.js')
		script(src='/javascripts/jQuery.Autosize.Input/jquery.autosize.input.js')


		//link(rel='stylesheet', href='//cdn.jsdelivr.net/foundation/4.2.2/css/foundation.min.css')
		//link(rel='stylesheet', href='//cdn.jsdelivr.net/99lime/0.94/css/kickstart.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/invoice.css')

	body
		.invoice
			include invoice