
/* set a max-width for horizontal fluid layout and make it centered */

body {
	font-family: Arial, 'Helvetica Neue', 'Liberation Sans', sans-serif;
	font-size: 14px;
	color: #f4f4f4;
	
	line-height: 20px;
	
	background-color: #e9e9e9;

	-webkit-font-smoothing: antialiased;

	padding: 0px;
	margin: 0px;

	background-color: #e9e8e3;
}

h1 {
	font-size: 75px;
	font-family: 'Berkshire Swash', cursive;
	color: #3a3a3a;
	text-transform: lowercase;
	margin-bottom: 10px;
	margin-top: 40px;
}

a {
	text-decoration:none;
	color: inherit;;
}

img#heart {
	position: relative;
	margin-right: 20px;
	top: 9px;
}

.twitter-share-button {
	position: relative;
	left: 34px;
	top: 14px;
}

div#tagline {
	float: left;
}

div#download {
	position: relative;
	float: right;
	top: -4px;
}

img#download {
	position: relative;
	right: 6px;
	top: 3px;
	margin-left: 10px;
}

div.clear {
	clear: both;
}

p {
	font-family: Gudea;
	color: #333;
	font-size: 18px;
}

#menu {
	float:right;
	clear: both;

}

#menu button {
	height: 40px;
	width: 120px;

}

input {
    min-width: 30px;
    max-width: 500px;
    /*transition: width 0.25s; */

    font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input[type=text] {
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: transparent;;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;	
	border: none;
	padding: 0px;
	margin: 0px;
	resize: none;
}

table {
	/*width: 100%;*/
	position: relative;
	
	border-spacing:0;
	border-collapse:collapse;

	
}

table#item-table {
	line-height: 32px;
}


table tr td {
	/*border: 1px solid black;*/
}

/* Ths A4 paper 
A4 210 × 297 
*/

.a4 {
	background-color: white;
	position: relative; /* Needed for absolute child divs to be positioned relative to it */
	width: 800px;
	height: 1131px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 100px;
	margin-top: 26px;
-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

/* The invoice content 
This is the content of the paper.
*/
.invoice {
	background-color: transparent;
	color: #222;
	padding: 60px;
	width: 680px;
}

/* The header side */
.invoice input#company-name, .invoice input#invoice {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 60px;
	margin-top: 0;
	float:left;
}

.invoice input#invoice {
	float: right;
	text-align: right;
}

.from {
	clear: left;
}

.from, .to {	
	float: left;
}

.from textArea, .to textArea {
	height: 80px;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 160px;
}



#invoice-info {
	/*background-color: red;*/
	float: right;
}

#invoice-info {

}

#invoice-info td.label input {
	text-align: right;
	float: right;
	padding: 1px;
}

#invoice-info td.value input {
	float: right;
	text-align: right;
	font-weight: bold;
	/*background-color: green;*/
}




#from-header, #to-header {
	font-weight: bold;
}



/* 
	
*/
.invoice-padded {
	/*padding: 60px;
	padding-bottom: 10px;*/

	
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 800px; 
} 

td input {
	width: 50%;
}


input.new-item {
	border: 2px inset;
}

#item-table {
	clear: both;
	width: 100%;
}

/* Item in the table */
#item-table tr.item, #item-table tr#new-item {
	border-bottom: 1px solid #ddd;
}

#item-table tr.total td.price, #item-table tr.total td.description {
	border-top: 1px solid #ddd;
}

/* Subtotal etc, column */
#item-table tr.new-item {
}




#item-table thead tr {
	background-color: #eee;
}

/*
#item-table thead tr th input {
	font-weight: bold;
	padding: 10px;
}*/

#item-table input, #item-table td label {
	padding: 6px;
}

#item-table thead input {
	font-weight: bold;
}

#item-table thead tr th input.price {
	text-align: right;
}

#item-table th.description {
	text-align: left;
}

#item-table th.price {
	text-align: right;
}

#item-table td.description {
	text-align: left;
}

#item-table td.price {
	text-align: right;
	width: 120px;
}

#item-table td.price input {
	text-align: right;
}



#item-table td.edit {
	width: 80px;
}

#item-table td.edit input, #item-table td.edit button {
	margin-left: 10px;
	width: 70px;
}

#item-table input {
	min-width: 90%;
}

/* Push down subtotal a little */
#item-table tr.subtotal td {
	padding-top: 20px;
}


#item-table tr.subtotal, #item-table tr.vat {
	line-height: 20px;
}

#item-table tr.total {
	line-height: 40px;
}

#item-table tr.vat td {
	padding-bottom: 10px;
}

#item-table tr.subtotal input,
#item-table tr.vat input,
#item-table tr.total input, #item-table tr.total td
 {
	font-weight: bold;
}
/* Subtotal etc, column */
#item-table tr.subtotal td.description {
	width: 100px;
}


/* Total row (the final row) */
#item-table tr.total input, #item-table tr.total td {
	margin-top: 6px;
	font-size: 20px;
}

textarea#message {
	margin-top: 80px;
	height: 120px;
	width: 100%;
}

#footer {
	position: absolute;
	top: 990px;
	width: 680px;
}

#footer table {
	width: 100%;
}

td.footer {
	left: 0px;
	width: 25%;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

td.footer textarea {
	height: 60px;
	font-size: 12px;
	line-height: 16px;
	color: #555;
	width: 90%;
}

