
/* set a max-width for horizontal fluid layout and make it centered */

body {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #eee;
	
	line-height: 20px;
	
	background-color: #333;

}

input {
    min-width: 30px;
    max-width: 500px;
    /*transition: width 0.25s; */
}



input {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;	
	border: none;
	padding: 0px;
	margin: 0px;
}

/* The header side */
.invoice input#company-name, .invoice input#invoice {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 0;
	float:left;
}

.invoice input#invoice {
	float: right;
	text-align: right;
}

.from {
	clear: left;
}

.from, .to {	
	float: left;
}

.from textArea, .to textArea {
	height: 80px;
	margin-right: 30px;

}


#invoice-info {
	/*background-color: red;*/
	float: right;
}

#invoice-info tr {
	/*background-color: red;
	line-height: 30px;*/
}

#invoice-info span {
	padding: 0;
	margin: 0;
}

#invoice-info td.label {
	/*background-color: green;*/
	text-align: right;
}

#invoice-info td.value input {
	float: right;
	text-align: right;
	/*background-color: green;*/
}



table {
	width: 100%;
	
	border-spacing:0;
	border-collapse:collapse;
	
}

table tr td {
	border: 0px solid transparent;
}

#from-header, #to-header {
	font-weight: bold;
}

.invoice {
	background-color: white;
	color: #222;
	margin: 0px;
	padding: 0px;
	border: none;
}

.invoice-padded {
	padding: 60px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 800px; 
} 

td input {
	width: 50%;
}

input[type=text] {
	border: none;
	padding: 0px;
	margin: 0px;
}

input.new-item {
	border: 2px inset;
}

#item-table th.description {
	text-align: left;
}

#item-table th.price {
	text-align: right;
}

#item-table td.description {
	text-align: left;
}

#item-table td.price {
	text-align: right;
	width: 120px;
}

#item-table td.price input {
	text-align: right;
}


#item-table td.edit {
	width: 60px;
}

#item-table input {
	min-width: 90%;
}

#item-table tr.blank {
	border-top: 30px solid transparent;
}
